body {
	/* background: url('104840847_313062746751221_5700923741351380344_n.jpg'); background picture seems not neccesarry*/
	background-color: transparent;
	/* ta reda på eriks favorit färg och lägg det som bakgrundsfärg*/
	background-size: auto;
	margin: 0px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

nav {
	align-self: flex-start;
	width: 100000px;
}


.flip-box {
	/*opacity:0.9; if there will be a background picture*/
	margin: 100px 20px 100px 20px;
  background-color: transparent;
  width: 400px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #BCBCBC;
  color: black;
  font-family: 'Times New Roman'; 
  transform: rotateY(180deg);
  width: 400px;
  height: 400px;
}

.flip-box1 {
		margin: 100px 20px 100px 20px;
	/*opacity:0.9; if there will be a background picture*/
  background-color: transparent;
  width: 400px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box1:hover .flip-box-inner1 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front1, .flip-box-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front1 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back1 {
  background-color: #BCBCBC;
  color: black;
  font-family: 'Times New Roman'; 
  transform: rotateY(180deg);
  width: 400px;
  height: 400px;
}

.flip-box2 {
		margin: 100px 20px 100px 20px;
	/*opacity:0.9; if there will be a background picture*/
  background-color: transparent;
  width: 400px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box2:hover .flip-box-inner2 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front2, .flip-box-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front2 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back2 {
  background-color: #BCBCBC;
  color: black;
  font-family: 'Times New Roman'; 
  transform: rotateY(180deg);
  width: 400px;
  height: 400px;
}

.flip-box3 {
	/*opacity:0.9; if there will be a background picture*/
		margin: 100px 20px 100px 20px;
  background-color: transparent;
  width: 400px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box3:hover .flip-box-inner3 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front3, .flip-box-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front3 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back3 {
  background-color: #BCBCBC;
  color: black;
  font-family: 'Times New Roman'; 
  transform: rotateY(180deg);
  width: 400px;
  height: 400px;
}

.flip-box4 {
	/*opacity:0.9; if there will be a background picture*/
		margin: 100px 20px 100px 20px;
  background-color: transparent;
  width: 400px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box4:hover .flip-box-inner4 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front4, .flip-box-back4 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front4 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back4 {
  background-color: #BCBCBC;
  color: black;
  font-family: 'Times New Roman'; 
  transform: rotateY(180deg);
  width: 400px;
  height: 400px;
}

.btnbtn-primary {
	justify-content: center;
}