body {
	background: url('104497135_765998124141620_2288131329148882012_n.jpg');
	background-size: 300px;
	background-color: white;
	margin: 0px;
}

.container {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

h1 {
	font-family: 'Times New Roman';
	font-size: 4em;
	text-align: center;
	width: 500px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	box-shadow: 2px 2px 2px #888888;
	margin: 0px;
	background-color: white;
	opacity: 0.9;
}

h1:hover {
	font-size: 5em;
	opacity: 1;
	width: 600px;
	height: 150px;
}

p {
	font-family: 'Times New Roman';
	font-size: 2em;
	text-align: center;
	width: 600px;
	background-color: white;
	border: 2px solid black;
	opacity:0.9;
	box-shadow: 1.5px 1.5px 1.5px #888888;
}

p:hover{
	opacity:1;
	font-size: 3em;
	width: 700px;
	height: 200px;
}

.btnbtn-primary {
	justify-content: center;
}
