body {
	background-color: #BCBCBC;
	opacity: 1;
	background-size: cover;
	margin: 0px;
}

.container {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

.navbar a:hover {
	background-color: #BCBCBC;
	opacity: 0.9;
}

.btnbtn-primary {
	justify-content: center;
}